@using FluentValidation.Results
@model Web.ViewModels.PurchaseViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header" style="padding-top: 100px">
    <h1>RegistrarCompra</h1>
</div>

@if(@Model.errors!=null)
{
    <div class="alert alert-block alert-error fade in">
    @foreach (ValidationFailure @error in @Model.errors)
    {
        <p>@error.ErrorMessage</p>
    }
    </div>
}

<div class="row-fluid metro">
    <div class="span2 offset5">
        @using (Html.BeginForm("Create", "Purchase", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.username)
            <div class="control-group">
                <label class="control-label">Descripcion</label>
                <div class="controls">
                    @Html.EditorFor(model => model.description)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Monto</label>
                <div class="controls">
                    @Html.EditorFor(model => model.totalAmount)
                </div>    
            </div>
            <div class="control-group">
                <label class="control-label">NombreDeGrupo</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.groupName, new { @id = "nombreDeGrupoContainer",@autocomplete ="off" })
                </div>
            </div>
            <button class="btn" type="submit">RegistrarCompra</button>
        }  
    </div>
</div>
