@using Domain
@using Domain.Notifications
@using Domain.Requests
@model Web.ViewModels.NotificationsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Inicio | FriendPaid</title>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span9">
                    <div class="page-header" style="padding-top: 20px">
                        <h1>Inicio</h1>
                    </div>
                    <h3>Notificaciones</h3>
                    @foreach (Notification @notification in @Model.unreadNotifications)
                    {
                        <div class="alert alert-block alert-error fade in">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4>@notification.date</h4>
                            <p>@notification.message</p>
                        </div>
                    }
                </div>
                <div class="span3">
                    <div class="sidebar-nav-fixed">
                        <div class="well">

                            <h3>Solicitudes</h3>

                           
                            @foreach(ContactRequest @contactRequest in @Model.pendingContactRequest)
                            {
                                <div class="popover right" style="margin-top:15px;">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title"><strong>Tienes una nueva solicitud de contacto.</strong></h3>
                                    <div class="popover-content">
                                        <p>
                                            <em>@contactRequest.message</em>
                                        </p>
                                        <p>
                                            <a class="btn btn-primary" href="@Url.Action("AceptContactRequest", "Contacts", new { username = @Model.username, usernameToInvite = @contactRequest.sender.username })">Aceptar</a>
                                            <a class="btn" href="@Url.Action("DeleteContactRequest", "Contacts", new { username = @Model.username, usernameToDeleteRequest = @contactRequest.sender.username })">Rechazar</a>
                                        </p>
                                    </div>
                                </div>

                            }
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
