@using Domain
@using Domain.Notifications
@using Domain.Requests
@model Web.ViewModels.NotificationsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header" style="padding-top: 20px">
    <h1>Inicio</h1>
</div>
<div class="span12">
    <div class="span3" id="accordion">
        <h3>SolicitudesDeContacto</h3>
        <div>
            <ul>
                @foreach (ContactRequest @contactRequest in Model.pendingContactRequest)
                {
                    <li id="@contactRequest.sender.username">
                        @contactRequest.message 
                        <div class="btn-group">
                            <button id="AceptarSolicitudContacto" class="btn btn-success">Aceptar</button>
                            <button id="RechazarSolicitudDeContacto" class="btn btn-danger">Cancelar</button>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <h3>PagosPendientes</h3>
        <div>
            <ul>
                @foreach (Payment @payment in @Model.unpaidPayments)
                {
                    <li>
                        <span>@payment.description</span>
                        <div class="btn-group">
                            <button id="PagarPagoPendiente" class="btn btn-success">Pagar</button>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <h3>PagosRealizados</h3>
        <div>
            <ul>
                @foreach (Payment @payment in @Model.paidPayments)
                {
                        <li>
                            @payment.description
                        </li>
                }
            </ul>
        </div>
    </div>
    <div class="span7">
        
        @foreach (Notification @notification in @Model.unreadNotifications)
        {
            <div class="alert alert-block alert-error fade in">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>@notification.date</h4>
                <p>@notification.message</p>
            </div>
        }
    </div>
</div>