@using FluentValidation.Results
@model Web.ViewModels.LoginViewModel

<html>
    <head>

        <title>Inicio de Sesión | FriendPaid</title>

        <link rel="stylesheet" type="text/css" href="~/Content/css/bootmetro.css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/bootmetro-responsive.css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/bootmetro-icons.css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/bootmetro-ui-light.css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/bootmetro-tiles.css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/bootmetro-charms.css">
        
        <style type="text/css">
            @@font-face {
                font-family: Prime;
                src: url("../../Content/font/PrimeRegular.otf");
            }
            @@font-face {
                font-family: facebook;
                src: url("../../Content/font/facebook.otf");
            }
        
            body {
                padding-top: 40px; 
            }
            .container {
                width: 300px;
            }

        /* The white background content wrapper */
            .container > .content {
                background-color: #fff;
                padding: 20px;
                margin: 0 -20px; 
                -webkit-border-radius: 10px 10px 10px 10px;
                -moz-border-radius: 10px 10px 10px 10px;
                border-radius: 10px 10px 10px 10px;
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
            }

            .login-form {
                margin-left: 65px;
            }
	
            legend {
                margin-right: -50px;
                font-weight: bold;
                color: #404040;
            }
        </style>

    </head>
    <body>
        <div class="row-fluid" style="padding-top: 20px">
            <div class="span7 offset1">
                <span style="font-family: Prime;font-size:105px;font-weight:bold">Friend<span style="font-weight: normal;color:yellowgreen">Paid</span></span>
            </div>
            <div class="span4">
                @using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.TextBoxFor(model => model.username, new { @class = "input-small", @placeholder = "Usuario" })
                    @Html.TextBoxFor(model => model.password, new { @class = "input-small", @placeholder = "Contraseña", @type = "password" })
                    <button class="btn" type="submit">Entrar</button>
                        
                }            
            </div>
            <div class="span1">
                
            </div>
        </div>
        @if (@Model.errors != null)
        {
            <div class="alert alert-block alert-error fade in">
                @foreach (ValidationFailure @error in @Model.errors)
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
        <div class="row-fluid">
            <div class="span6 offset1">
                <!-- CAROUSEL -->
            </div>
            <div class="offset1 span3">
                <span style="font-family: facebook;font-size: 35px">O entrar con:<br/><br/>@Html.ActionLink("facebook", "Facebook","LogIn")
                </span>
                <h3>Registrar</h3>
                @using (Html.BeginForm("SignUp", "SignUp", FormMethod.Post, new { @class = "form-inline" }))
                { 
                    <p>
                        @Html.TextBoxFor(model => model.name, new { @placeholder = "Nombre" })
                    </p>
                    <p>
                        @Html.TextBoxFor(model => model.lastName, new { @placeholder = "Apellido" })
                    </p>
                    <p>
                        @Html.TextBoxFor(model => model.email, new { @placeholder = "CorreoElectronico" })
                    </p>
                    <p>
                        @Html.TextBoxFor(model => model.username, new { @placeholder = "NombreDeUsuario" })
                    </p>
                    <p>
                        @Html.TextBoxFor(model => model.password, new { @placeholder = "Contraseña", @type = "password" })
                    </p>
                    <button class="btn" type="submit">Registrar</button>               
                }  
            </div>
        </div>
        <div class="row-fluid">
            <div class="offset1 span2 block inline" >
                <h4>Do not understand? Do not worry , use it in <a>English</a>.</h4>
            </div>
            <div class="offset1 span3 inline" >
                <h4>Je ne comprends pas? Ne vous inquiétez pas, utilisez-le en <a>Français</a>.</h4>
            </div>
            <div class="offset1 span2 inline" >
                <h4>Não entendeu? Não se preocupe, usá-lo em <a>Português</a>.</h4>
            </div>
        </div>
        
        <script type="text/javascript"  src="../../Content/js/jquery-1.6.4.js"></script>
        <script type="text/javascript"  src="../../Content/js/bootstrap.js"></script> 

    </body>

</html>