@model Web.ViewModels.BaseViewModel


<html>
    <head>
    
        <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-responsive.css">
     
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>
        
        <style type="text/css">
            @@font-face {
                font-family: Prime;
                src: url("../../Content/font/PrimeRegular.otf");
            }
        </style>

    </head>
<body>
    
    <div class="navbar">
        <div class="navbar-inner">
            <div id="top-info" class="container">
                <a class="brand" href="#" style="padding-top:20px;">
                    <span style="font-family: Prime;font-size:35px;font-weight:bold">Friend<span style="font-weight: normal;color:yellowgreen">Paid</span></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li id="Inicio">
                            <a href="@Url.Action("Index", "Notifications", new { username = @Model.username }, null)">      
                                <h6 style="text-align:center">Inicio</h6>
                            </a>
                        </li>
                        <li id="RegistrarCompra">
                            <a href="@Url.Action("Index", "Purchase", new { username = @Model.username }, null)">     
                                <h6>RegistrarCompra</h6>
                            </a>
                        </li>
                        <li id="CrearGrupo">
                            <a href="@Url.Action("IndexCreateGroup", "Group", new { username = @Model.username }, null)">       
                                <h6 style="text-align:center">CrearGrupo</h6>
                            </a>
                        </li>
                        <li id="Grupos">
                            <a href="@Url.Action("IndexGroups", "Group", new { username = @Model.username }, null)">       
                                <h6 style="text-align:center">Grupos</h6>
                            </a>
                        </li>
                        <li id="Contactos">
                            <a href="@Url.Action("Index", "Contacts", new { username = @Model.username }, null)">   
                                <h6 style="text-align:center">Contactos</h6>
                            </a>  
                        </li>
                    </ul>

                    <ul class="nav pull-right">
                        <li>
                            @using (Html.BeginForm("SearchByName", "Group", FormMethod.Post, new { @class = "navbar-search pull-left", @style = "padding-top:15px;" }))
                            {
                                @Html.HiddenFor(model => model.username)
                                @Html.TextBoxFor(model => model.groupName, new { @class = "search-query span2", @placeholder = "Buscar Grupos" })
                            }    
                        </li>
                        <li>
                            <a href="">
                                <h6>Configuración</h6>
                            </a>
                        </li>
                        <li class="divider-vertical" style="margin-top:10px;"></li>
                        <li>
                            <h2> @Model.username </h2>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
    
    @RenderBody()

    <script src="../../Content/js/html5shiv.js"></script>
	<script type="text/javascript" src="../../Content/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../Content/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../Content/js/scripts.js"></script>

    <script type="text/javascript"  src="../../Content/js/jquery-ui-1.10.3.js"></script>
    <script type="text/javascript"  src="../../Content/js/Notifications/Index.js"></script>
    <script type="text/javascript"  src="../../Content/js/Contacts/Index.js"></script>
    <script type="text/javascript"  src="../../Content/js/Group/IndexGroups.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var title = $(this).attr('title').toString();

            
            switch (title) {
                case "Inicio | FriendPaid":
                    $('#Inicio').addClass('active');
                    break;
                case "Contactos | FriendPaid":
                    $('#Contactos').addClass('active');
                    break;
                case "Registrar Compra | FriendPaid":
                    $('#RegistrarCompra').addClass('active');
                    break;
                case "Grupos | FriendPaid":
                    $('#Grupos').addClass('active');
                    break;
                case "Crear Grupo | FriendPaid":
                    $('#CrearGrupo').addClass('active');
                    break;
            }

            $('#registrarCompraContainer').css('cursor', 'pointer');
            $('#verGruposContainer').css('cursor', 'pointer');
            $('#crearGrupoContainer').css('cursor', 'pointer');
            $('#inicioContainer').css('cursor', 'pointer');
            $('#verContactosContainer').css('cursor', 'pointer');

            $('.dropdown-toggle').dropdown();

        });
    </script>
</body>
