@using Domain.Facebook
@model Web.ViewModels.ContactsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Contactos | FriendPaid</title>

<div class="page-header" style="padding-top: 20px">
    <h1>Contactos</h1>
</div>
<div class="container-fluid metro">
    <div class="span9">
        <ul class="thumbnails">
            @foreach(string @contact in @Model.contacts)
            {
                <li class="span3">
                    <div class="span1"></div>
                    <div class="thumbnail" style="margin-left:15px;">
                        <img alt="200x200" src="~/Content/img/user.png" />
                        <div class="caption">
                            <h3>
                                @contact
                            </h3>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Ver</a> 
                                <a class="btn" href='@Url.Action("DeleteContact", "Contacts", new { username = @Model.username, usernameToDelete =@contact})'>Eliminar</a>
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ul>

    </div>
    <div class="span3" style="float:right;">
        @if (@Model.facebookContacts.Count!=0)
        {
            <h2>Invitá a tus amigos de Facebook</h2>
            <ul class="thumbnails">
                @foreach (FacebookContact @contact in @Model.facebookContacts)
                {
                    <li class="span3">
                        <div class="media thumbnail">
                            <a href="#" class="pull-left"><img src="https://graph.facebook.com/@contact.facebookId/picture" class="media-object" alt='' /></a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    @contact.name
                                </h4> 
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</div>
