@using Domain
@using FluentValidation.Results
@model Web.ViewModels.GroupsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Buscar Grupo | FriendPaid</title>

<div id="gruposContainer">
    <div class="page-header" style="padding-top: 20px">
        <h1>Buscar Grupos</h1>
    </div>

    @if (@Model.errors != null)
    {
        <div class="alert alert-block alert-error fade in">
        @foreach (ValidationFailure @error in @Model.errors)
        {
            <p>@error.ErrorMessage</p>
        }
        </div>
    }
    
    @foreach (Group @group in Model.groups)
    {

        <div id="grupoContainer" class="portlet span3">
            <div class="portlet-header">@group.name</div>
            <div class="portlet-content">
                Administrador: @group.administrator.username
                <div class="btn-group">
                    <button class="btn span1">Ver</button>
                    <button class="btn span2" onclick='location.href="@Url.Action("Join", "Group", new { username = @Model.username , groupname = @group.name})"'>Unirse</button>
                </div>
            </div>
        </div>

    }
               
</div>
