@using Domain
@model Web.ViewModels.GroupsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="gruposContainer">
    <div class="page-header" style="padding-top: 20px">
        <h1>Buscar de Grupos</h1>
    </div>
    @foreach (Group @group in Model.groups)
    {

        <div id="grupoContainer" class="portlet span3">
            <div class="portlet-header">@group.name</div>
            <div class="portlet-content">
                Administrador: @group.administrator.username
                <div class="btn-group">
                    <button class="btn span1">Ver</button>
                    <button class="btn span2" onclick='location.href="@Url.Action("Join", "Group", new { username = @Model.username , groupname = @group.name})"'>Unirse</button>
                </div>
            </div>
        </div>

    }
               
</div>
