@using Domain
@using FluentValidation.Results
@model Web.ViewModels.GroupsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Grupos | FriendPaid</title>


@if(@Model.message!=null) 
{
    <div class="alert alert-success">@Model.message</div>
}

@if (@Model.errors != null)
{
    <div class="alert alert-block alert-error fade in">
    @foreach (ValidationFailure @error in @Model.errors)
    {
        <p>@error.ErrorMessage</p>
    }
    </div>
}

<div id="gruposContainer">
    <div class="page-header" style="padding-top: 20px">
        <h1>Grupos</h1>
    </div>
    <ul class="thumbnails">
        @foreach (Group @group in Model.groups)
        {
  <li class="span3">
                <div class="span1"></div>
                <div class="thumbnail" style="margin-left:15px;">
                    <img alt="200x200" src="~/Content/img/group.png" />
                    <div class="caption">
                        <h3>
                            @group.name
                        </h3>
                        <h5>
                            Administrador: @group.administrator.username
                        </h5>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                        <p>
                            <a class="btn btn-primary" href="#">Ver</a> 
                            <a class="btn"  onclick='location.href="@Url.Action("Leave", "Group", new { username = @Model.username, groupname = @group.name })"'>Abandonar</a>
                        </p>
                    </div>
                </div>
            </li>
        }
    </ul>
               
</div>
